.container {
  margin-top: 2%;
  text-align: center;
  width: 100%;
}

.form-group {
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
}

.btn {
  width: 100%;
  font-size: 120%;
  margin-top: 3%;
}
